div.editable {
  width: 300px;
  height: 250px;
  border: 1px solid #ccc;
  padding: 5px;
}

strong {
  font-weight: bold;
}

.loading-abandon {
  text-align: center !important;
  margin-top: 15% !important;
}

.no-abandon {
  text-align: center !important;
  margin-top: 15% !important;
  font-size: 50px !important;
  color: crimson !important;
  font-weight: bold !important;
  opacity: 0.6 !important;
}

.heading {
  text-align: center !important;
  margin-top: 2% !important;
  margin-bottom: 4% !important;
  font-weight: bold !important;
}
.react-bootstrap-table table {
  table-layout: auto !important;
}
.foo tr {
  font-size: 14px !important;
}

.table th {
  text-align: center !important;
}
.table tbody {
  font-size: 12px !important;
  vertical-align: middle !important;
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
}
.react-bootstrap-table {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
form label {
  font-weight: bold !important;
  font-size: 11px !important;
  margin: 0px 0 3px 0px !important;
  background-color: #fff !important;
}
form input {
  margin-bottom: 5px !important;
}
.form-control[readonly] {
  background-color: #fff !important;
}
.abandon {
  text-align: center !important;
  margin-top: 15% !important;
  /* font-size: 50px !important; */
  /* font-weight: bold !important; */
}
